:root {
	/* LAYOUT */

	--lyt-mobile: 375px;
	--lyt-desktop: 1440px;

	--lyt-mobile-em: 40em;

	/* COLORS */
	--clr-primary-soft-red: hsl(10, 79%, 65%);
	--clr-primary-cyan: hsl(186, 34%, 60%);
	--clr-neutral-dark-brown: hsl(25, 47%, 15%);
	--clr-neutral-medium-brown: hsl(28, 10%, 53%);
	--clr-neutral-cream: hsl(27, 66%, 92%);
	--clr-very-pale-orange: hsl(33, 100%, 98%);

	/* TYPOGRAPHY */

	--fs-base: clamp(1.125rem, 1vw + 0.1rem, 2rem);

	/* FONT */
	--ff-dm-sans: 'DM Sans', sans-serif;
	--fw-400: 400;
	--fw-700: 700;
}

*,
**::before,
**::after {
	box-sizing: border-box;
	font: inherit;
	padding: 0;
	border: 0;
}

body {
	font-size: var(--fs-base);
	background-color: var(--clr-neutral-cream);
	font-family: 'DM Sans', sans-serif;
	vertical-align: baseline;
	overflow: auto;
	min-height: 100vh;
	margin: 0;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
